NODE_ENV=development
PORT=9000
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/orchidify

# SMTP
SMTP_USERNAME=string
SMTP_PASSWORD=string
SMTP_HOST=string
SMTP_PORT=465
SMTP_FROM_EMAIL=string
SMTP_FROM_NAME=string

# JWT
JWT_ACCESS_SECRET=8HCroRSwJxh8cv63YRDS5dYxyjx3nPq8OJZWpjs5ovdxm2T/NuCaZnacDhHHAQEjObhxh0fTmdn/cfGODcUjPN+GsZiXeqM+2ifvOmlDcEWEQVyUoZENFj0Rt42ORbZ8vNTULDYC2RahmIuIwAy3f1NrIp40SHXssPolUXb98p7VW+dv4bEwHRbOkStnWV9Nt9XmSf7nnPXyaK7UzcuT+EZewFHq+O+kYGnnnIBoA7FJVW4w6GsN6Wr4G+W3Ud5GAdqMOKZYKqkptqw46+u78j0iqRlTW7C+jpdFnoeoSTFOpu+vZBuFJAj0531Lbnj7Nx0wpM3GX4rk+ygSMEcs2w==
# unit second, 22030000~255days, 864000
JWT_ACCESS_EXPIRATION=864000
JWT_REFRESH_SECRET=SWVG1ACUJwVfIyeBe8iGPugAIPq2dNshecqazIVqvK0zb6xJFGGGpoB8naJuOCatH4q+lE57L093HIBm9iZVCd8GfTGsXULaij0k4IU4SSQ/9yyp5qiTWJKnjsmfJc2/FX8xr6XL7chCX8tHgSye5clffIQIY0LlVCwUbC4CukZY8ScSs980EXqnwk63b6R4z+ULYdjPxMk5GQB/qHgJnpa3oFIdCirFtUQUaQY8JpLU6qArDN2LelAcg3g1Eilo4fDNMvDtjNtsRxWYt4zL8Gmf4Mt2lfrrfrKxShd8ITD/4z+zy0GS5Uxg3rD2iVj4E3kjrQv5CD8zhOOg5xA1NA==
JWT_REFRESH_EXPIRATION=90d

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Orchidify
CORS_VALID_ORIGINS=localhost,ngrok-free,orchidify.tech
WEB_URL=orchidify:/
SERVER_URL=https://api.orchidify.tech

# Discord webhook
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=

## PAYMENT
#STRIPE
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# SENTRY
SENTRY_DSN=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0