<pre style="font-family: Arial, Helvetica, sans-serif;">
Chào <%= name %>,
Chúng tôi đã tạo tài khoản truy cập hệ thống eFurniture cho bạn. Dưới đây là thông tin đăng nhập của bạn:
    
Email: <%= email %>
Mật khẩu: <%= password %>
    
Vui lòng đăng nhập vào hệ thống eFurniture tại địa chỉ: <a href="https://management.furnique.tech">https://management.furnique.tech</a>
Lưu ý: Đây là mật khẩu tạm thời, vui lòng đổi mật khẩu sau khi đăng nhập lần đầu tiên để đảm bảo an toàn cho tài khoản của bạn.
    
Nếu bạn gặp bất kỳ khó khăn nào trong quá trình đăng nhập, vui lòng liên hệ với bộ phận IT.

</pre>
<%- include('footer') -%>
    